<script>
    function validar() {
        var pwd = document.getElementById('pass').value;
        var pwdx = document.getElementById('passc').value;
        if (pwd == pwdx) {
            document.getElementById('create').disabled = false;
            document.getElementById('msg').hidden = true;
        }
        else {
            document.getElementById('create').disabled = true;
            document.getElementById('msg').innerHTML = 'Las contrase単as no coinciden';
            document.getElementById('msg').hidden = false;
        }
    }
    function carga() {
        var error = document.getElementById('error').value;
        if (error == 'userexist') {
            document.getElementById('msg').innerHTML = 'El nombre de usuario ya existe';
            document.getElementById('msg').hidden = false;
        }
    }
</script>

<body onload="carga()">
    <div class="d-inline-flex flex-column justify-content-center">
        <div class="d-inline-flex flex-row mb-3 headreg justify-content-center align-content-center">
            <img src="/img/icon.png">
            <p>
                <span id="titlereg">Fury Knowledge</span><br>
                <span id="subtreg">Donde comienza el aprendizaje</span>
            </p>
        </div>
        <div class="d-flex flex-column justify-content-center flex-wrap align-content-center">
            <form action="/registrar" method="POST" class="regin-form mb-3">
                <p id="msg" hidden>Las contrase単as no coinciden</p>
                <div class="input-group mb-1 mt-2">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    <input name='name' id="nombre" type="text" class="form-control" placeholder="Nombre" minlength="6"
                        maxlength="20" required oninput="this.setCustomValidity('');"
                        oninvalid="this.setCustomValidity('El nombre debe ser de entre 6 y 20caracteres');">
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input id='user' minlength="8" maxlength="12" name='usr' type="text" class="form-control"
                        placeholder="Nombre de usuario" required oninput="this.setCustomValidity('');"
                        oninvalid="this.setCustomValidity('Debe ser de entre 8 y 12 caracteres');">
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    <input id="pass" name='pwd' type="password" class="form-control" placeholder="Contrase単a"
                        minlength="8" maxlength="16" required oninput="this.setCustomValidity('');"
                        oninvalid="this.setCustomValidity('Debe ser de entre 8 y 16 caracteres');">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary"><i class="fas fa-key"></i></span>
                    <input id="passc" type="password" class="form-control" placeholder="Confirmar contrase単a"
                        onkeypress="" oninput="validar()" oninvalid="" required>
                </div>
                <input type="submit" class="btn btn-primary btn border-1 border-dark mb-2" id="create"
                    value="Crear cuenta" disabled>
            </form>
            <form action="/" method="GET" class="d-flex flex-row justify-content-evenly mt-2">
                <input type="submit" class="btn btn-success border-1 border-dark" value="Ya tengo una cuenta">
            </form>
            <input type="hidden" id='error' value="<%=error%>">
        </div>
    </div>
</body>