body {
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  min-height: 100vh;
  background-image: url("/img/1021.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding-bottom: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  height: 3rem;
  font-size: 14px;
  color: #BBB;
  background: #222;
  text-align: center;
}