<script type='text/javascript'>
    function vidStart() {

    }
    function vidEnd(booly) {
        document.getElementById('boton-fin').classList.remove("btn-secondary");
        document.getElementById('boton-fin').classList.add("btn-success");
        document.getElementById('boton-fin').innerHTML = '<i class="far fa-check-circle"></i>  ¡Listo!';
        document.getElementById('boton-fin').disabled = false;
        document.getElementById('vid').hidden = booly;
        document.getElementById('imy').hidden = !booly;

    }
    function Generar() {
        for (let index = 1; index < 5; index++) {
            var a = Math.floor(Math.random() * 10) + 1;
            var b = Math.floor(Math.random() * 10) + 1;
            document.getElementById(`pri${index}`).value = a;
            document.getElementById(`seg${index}`).value = b;
        }
        // document.getElementById('actividsuma').innerHTML = `<table><tr><td></td><td>${a}</td></tr>
        //                                                     <tr><td>+</td><td></td></tr>
        //                                                     <tr><td></td><td >${b}</td></tr>
        //                                                     <tr><td colspan=2><input type="number" name='resul${x}'></td></tr></table>
        //                                                     `
        // document.getElementById('pri1').value = a;
        // document.getElementById('seg1').value = b;
        document.getElementById('boton-fin').classList.remove("btn-success");
        document.getElementById('boton-fin').classList.add("btn-secondary");
        document.getElementById('boton-fin').text = '¡Ya casi!';
        document.getElementById('boton-fin').disabled = true;

    }
    function Validar() {
        var correctas = 0;
        for (let index = 1; index < 5; index++) {
            var x = parseInt(document.getElementById(`pri${index}`).value);
            var y = parseInt(document.getElementById(`seg${index}`).value);
            var res = parseInt(document.getElementById(`resul${index}`).value);
            if (res === (x + y)) { correctas++ }
            else {
                document.getElementById(`resul${index}`).style.color = 'red';
            }
        }
        if (correctas == 4) {

            document.getElementById('boton-fin').classList.remove("btn-secondary");
            document.getElementById('boton-fin').classList.add("btn-success");
            document.getElementById('boton-fin').innerHTML = '<i class="far fa-check-circle"></i>  ¡Listo!';
            document.getElementById('boton-fin').disabled = false;
        }
    }

</script>
<style>
    body {
        background-color: #061981;
    }

    .contenido-gral {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .texto-mmedia {
        width: 25rem;
        text-align: justify;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto-mmedia .titulo-contenido {
        font-size: 1.3rem;
        color: #24277F;
    }

    .contenido-video {
        max-width: 30rem;
        max-height: 20rem;
    }


    .inst {
        font-size: 1.1rem;
    }

    .inst-lista {
        color: #2b2b2b;
        font-size: 0.95rem;
    }

    #imy {
        width: 600px;
        max-height: 15rem;
        max-width: 30rem;
    }

    .padeado {
        padding-left: 2.25rem;
    }

    .pr-3 {
        border-radius: 10px;
        border: 2px solid black;
        background-color: #023778;
        color: #9BC7FD !important;
    }

    .input-group-text,
    .ipt {
        height: 2rem;
        border-radius: 10px;
        border: 2px solid black;
    }
</style>

<body onload="Generar()">

    <div class="d-flex flex-column justify-content-lg-evenly px-3">
        <div class="d-flex texto-mmedia contenido-mmedia flex-wrap">
            <div class="inst"><span>Instrucciones:</span>
                <ul class="inst-lista">
                    <li>Escribe en el recuadro el resultado de la suma!</li>
                </ul>
            </div>
        </div>
        <div>
            <!-- Actividad -->
            <form>
                <div id="actividsuma" class="d-flex flex-row flex-wrap justify-content-evenly pt-5">
                    <div class="mx-3">
                        <div class="input-group mb-0 padeado">
                            <input class="pr-3" type="number" id="pri1" disabled>
                        </div>
                        <div class="input-group mb-0">
                            <span class="input-group-text pl-3">+</span>
                            <input class="pr-3" type="number" id="seg1" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text pl-3">=</span>
                            <input class='ipt' type="number" id="resul1">
                        </div>
                    </div>
                    <div class="mx-3">
                        <div class="input-group mb-0 padeado">
                            <input class="pr-3" type="number" id="pri2" disabled>
                        </div>
                        <div class="input-group mb-0">
                            <span class="input-group-text pl-3">+</span>
                            <input class="pr-3" type="number" id="seg2" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text pl-3">=</span>
                            <input class='ipt' type="number" id="resul2">
                        </div>
                    </div>
                    <div class="mx-3">
                        <div class="input-group mb-0 padeado">
                            <input class="pr-3" type="number" id="pri3" disabled>
                        </div>
                        <div class="input-group mb-0">
                            <span class="input-group-text pl-3">+</span>
                            <input class="pr-3" type="number" id="seg3" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text pl-3">=</span>
                            <input class='ipt' type="number" id="resul3">
                        </div>
                    </div>
                    <div class="mx-3">
                        <div class="input-group mb-0 padeado">
                            <input class="pr-3" type="number" id="pri4" disabled>
                        </div>
                        <div class="input-group mb-0">
                            <span class="input-group-text pl-3">+</span>
                            <input class="pr-3" type="number" id="seg4" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text pl-3">=</span>
                            <input class='ipt' type="number" id="resul4">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <input type="button" onclick="Validar()" class='btn btn-danger' value='Validar resultado'>
        </div>
    </div>
</body>