<style>
    body {
        background-color: #061981;
    }

    .contenido-gral {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .texto-mmedia {
        width: 25rem;
        text-align: justify;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto-mmedia .titulo-contenido {
        font-size: 1.3rem;
        color: #24277F;
    }

    .inst {
        font-size: 1.1rem;
    }

    .contenido-video {
        max-width: 30rem;
        max-height: 30rem;
    }

    .inst-lista {
        color: #2b2b2b;
        font-size: 0.95rem;
    }

    #imy {
        width: 600px;
        max-height: 20rem;
        max-width: 80%;
        object-fit: cover;
    }
</style>
<div class="contenido-gral  d-flex flex-wrap">
    <div class="d-flex texto-mmedia contenido-mmedia flex-wrap">
        <div class="inst"><span>Instrucciones:</span>
            <ul class="inst-lista">
                <li>Lee el texto o escucha el audio!</li>
            </ul>
        </div>
        <span class="titulo-contenido">El carnaval de los animales</span>
        El carnaval de los animales (en francés: Le carnaval des animaux) es una suite musical en 14 movimientos
        compuesta por el compositor romántico francés Camille Saint-Saëns en 1886. Tiene una duración de entre 22 y 30
        minutos.
    </div>
    <div class="d-flex flex-column justify-content-center contenido-video contenido-mmedia">
        <legend class="flex-wrap">¿Que es una escuela?</legend>
        <img id="imy" src="https://images-na.ssl-images-amazon.com/images/I/A1jTXsJLuHL.jpg">
        <audio controls src="/audio/test_audio.mp3" onload="vidEnd(true)" controlslist="nodownload">
        </audio>
    </div>
</div>