<script type='text/javascript'>
    function Vali() {
        let qty = parseInt(document.getElementById('cantidad').value);
        let correctas = 0;
        let lastcol = qty % 4;
        let fullcols = (qty - lastcol) / 4;
        for (let index = 0; index < fullcols; index++) {
            for (let ii = 0; ii < 4; ii++) {
                document.getElementById(`ac${index}${ii}`).classList.remove("wrong");
                var x = parseInt(document.getElementById(`pri${index}${ii}`).value);
                var y = parseInt(document.getElementById(`seg${index}${ii}`).value);
                var resul = parseInt(document.getElementById(`resul${index}${ii}`).value);
                if (!resul) resul = 0;
                if (resul === (x + y)) {
                    correctas++;
                    setTimeout(() => {
                        document.getElementById(`ac${index}${ii}`).classList.add("correcto");
                    }, 500);
                }
                else {
                    setTimeout(() => {
                        document.getElementById(`ac${index}${ii}`).classList.add("wrong");
                    }, 500);
                }
            }
        }
        if (lastcol != 0) {
            for (let index = 0; index < lastcol; index++) {
                document.getElementById(`ac${fullcols + 1}${index}`).classList.remove("wrong");
                var x = parseInt(document.getElementById(`pri${fullcols + 1}${index}`).value);
                var y = parseInt(document.getElementById(`seg${fullcols + 1}${index}`).value);
                var resul = parseInt(document.getElementById(`resul${fullcols + 1}${index}`).value);
                if (!resul) resul = 0;
                if (resul === (x + y)) {
                    correctas++;
                    setTimeout(() => {
                        document.getElementById(`ac${fullcols + 1}${index}`).classList.add("correcto");
                    }, 500);
                }
                else {
                    setTimeout(() => {
                        document.getElementById(`ac${fullcols + 1}${index}`).classList.add("wrong");
                    }, 500);
                }
            }
        }
        if (correctas == qty) {
            document.getElementById('boton-fin').classList.remove("btn-secondary");
            document.getElementById('boton-fin').classList.add("btn-success");
            document.getElementById('boton-fin').innerHTML = '<i class="far fa-check-circle"></i>  ¡Listo!';
            document.getElementById('boton-fin').disabled = false;
        }
    }
</script>
<style>
    .titulo-contenido,
    .titulo-material {
        font-size: 1.5rem;
        color: #24277F;
        font-weight: 600;
    }

    .inst {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .inst-lista {
        color: transparent;
        max-width: 15rem;
    }

    .inst-contenido {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        margin-left: -1.1rem;
    }

    .text-contenido {
        color: black;
        font-size: 1.1rem;
        max-width: 25rem;
        text-align: justify;
    }

    .material {
        max-width: 100%;
        height: auto;
    }

    .material-imagen img {
        display: cover;
        background-color: black;
        max-width: 30rem;
        height: auto;
        max-height: 13rem;
        border-radius: 15px;
        box-shadow: 5px 5px 20px -5px #000000;
    }

    .contenedor-actividad {
        margin: 1rem 2rem 0.2rem 2rem;
        padding: 2rem 2rem;
        background-color: #7fd1e0;
        /* background-color: #A9E9EF; */
        /* border: 5px solid #474e45b4; */
        border-radius: .5rem 5rem;
        box-shadow: 5px 5px 20px -5px #000000;
    }

    .contenedor-actividad .input-group {
        background-color: white;
        max-width: 4rem;
    }

    .act-contenido {
        background-color: white;
        max-width: 6rem;
        padding: .5rem 1rem .5rem 1rem;
        box-shadow: 5px 5px 20px -5px #000000;
        border-radius: .5rem .5rem;
        margin: 1.5rem;
    }

    .act-contenido input {
        background-color: white;
        border-radius: .5rem .5rem;
        margin: 0rem 0rem 0rem -0.5rem;
        max-width: 5rem;
        text-align: right;
    }

    .input-group-text {
        max-width: 1rem;
        text-align: center;
    }
</style>
<div class="w-100 h-100 d-inline-flex flex-row flex-wrap justify-content-evenly">
    <div class=" h-100 d-inline-flex flex-column flex-wrap justify-content-evenly">
        <span class="titulo-contenido d-flex flex-wrap">
            <%- clase.titulo %>
        </span>
        <div><span class="inst">Instrucciones:</span>
            <ul class="inst-lista">
                <% for(var i=0; i< clase.inst.length; i++) {%>
                    <li class="w-100 text-wrap">
                        <div class=" inst-contenido">
                            <i class="far fa-hand-point-right"></i>
                            <%=clase.inst[i]%>
                        </div>
                    </li>
                    <%}%>
            </ul>
        </div>
        <div class=" d-inline-flex flex-column flex-wrap justify-content-start contenedor-actividad">
            <div class=" d-inline-flex flex-row flex-wrap justify-content-start">
                <div class="material material-imagen">
                    <img id="imy" alt='<%=clase.material%>' src="/img/<%=clase.material%>.png"
                        onerror="this.onerror = null; this.hidden = true;">
                </div>
                <div id="ag" class="d-inline-flex flex-column justify-content-evenly">
                    <div id="ar1" class="d-inline-flex flex-row justify-content-evenly">
                        <div class="act-contenido" id="ac1">
                            <div class="act-group">
                                <span id="priga"
                                    class="d-flex flex-row justify-content-end"><span></span><span>2</span></span>
                                <span id="seg1"
                                    class="d-flex flex-row justify-content-between"><span>+</span><span>3</span></span>
                                <span><input type="number" id="resulrc"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-end botonval">
                <input type="button" onclick="Vali()" class='btn btn-danger' value='Validar resultado'>
            </div>
            <input type="hidden" id="cantidad" value=5>
            <script>
                Generar();
                function Generar() {
                    let qty = Math.floor(Math.random() * 8) + 4;
                    document.getElementById('cantidad').value = qty;
                    let lastcol = qty % 4;
                    let fullcols = (qty - lastcol) / 4;
                    let fullgrouphtml = '';
                    for (let index = 0; index < fullcols; index++) {
                        fullgrouphtml += `<div id="ar${index}" class="d-inline-flex flex-row justify-content-evenly">`;
                        for (let ii = 0; ii < 4; ii++) {
                            var a = Math.floor(Math.random() * 10) + 1;
                            var b = Math.floor(Math.random() * 10) + 1;
                            fullgrouphtml += `<div class="act-contenido" id="ac${index}${ii}">
                                <div class="act-group">
                                    <span class="d-flex flex-row justify-content-end"><input type="hidden" id="pri${index}${ii}" value="${a}"><span>${a}</span></span>
                                    <span class="d-flex flex-row justify-content-between"><input type="hidden" id="seg${index}${ii}" value="${b}"><span>+</span><span>${b}</span></span>
                                    <span><input type="number" id="resul${index}${ii}"></span>
                                </div>
                            </div>`;
                        }
                        fullgrouphtml += `</div>`;
                    }
                    if (lastcol != 0) {
                        fullgrouphtml += `<div id="ar${fullcols + 1}" class="d-inline-flex flex-row justify-content-evenly"> `;
                        for (let index = 0; index < lastcol; index++) {
                            var a = Math.floor(Math.random() * 10) + 1;
                            var b = Math.floor(Math.random() * 10) + 1;
                            fullgrouphtml += `<div class="act-contenido" id="ac${fullcols + 1}${index}">
                                <div class="act-group">
                                    <span class="d-flex flex-row justify-content-end"><input type="hidden" id="pri${fullcols + 1}${index}" value="${a}"><div>${a}</div></span>
                                    <span class="d-flex flex-row justify-content-between"><input type="hidden" id="seg${fullcols + 1}${index}" value="${b}"><div>+</div><div>${b}</div></span>
                                    <span><input type="number" id="resul${fullcols + 1}${index}"></span>
                                </div>
                            </div>`;
                        }
                        fullgrouphtml += `</div>`;
                    }
                    document.getElementById('ag').innerHTML = fullgrouphtml;
                }

            </script>
            <!-- <div class="mx-3">
                    <div class="input-group mb-0 padeado">
                        <input class="pr-3" type="number" id="pri1" disabled>
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text pl-3">+</span>
                        <input class="pr-3" type="number" id="seg1" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text pl-3">=</span>
                        <input class='ipt' type="number" id="resul1">
                    </div>
                </div>
                <div class="mx-3">
                    <div class="input-group mb-0 padeado">
                        <input class="pr-3" type="number" id="pri2" disabled>
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text pl-3">+</span>
                        <input class="pr-3" type="number" id="seg2" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text pl-3">=</span>
                        <input class='ipt' type="number" id="resul2">
                    </div>
                </div>
                <div class="mx-3">
                    <div class="input-group mb-0 padeado">
                        <input class="pr-3" type="number" id="pri3" disabled>
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text pl-3">+</span>
                        <input class="pr-3" type="number" id="seg3" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text pl-3">=</span>
                        <input class='ipt' type="number" id="resul3">
                    </div>
                </div>
                <div class="mx-3">
                    <div class="input-group mb-0 padeado">
                        <input class="pr-3" type="number" id="pri4" disabled>
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text pl-3">+</span>
                        <input class="pr-3" type="number" id="seg4" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text pl-3">=</span>
                        <input class='ipt' type="number" id="resul4">
                    </div>
                </div> -->

        </div>
    </div>
</div>