<style>
    td {
        border: 2px solid black;
    }

    .id {
        background-color: rgb(59, 59, 204);
        color: white;
    }

    table {
        width: 80%;
        font-weight: bolder;
        text-align: center;
    }

    .contenedor-generico {
        padding-top: 5%;
        padding-left: 5%;
    }

    p {
        font-weight: bolder;
    }
</style>
<p>Historia 1</p>
<table class="mb-4">
    <tr class="id">
        <td>ID</td>
        <td>01</td>
        <td>PRIORIDAD</td>
        <td>Alta</td>
        <td>PUNTOS DE HISTORIA</td>
        <td>3</td>
    </tr>
    <tr>
        <td class="id">HISTORIA DE USUARIO</td>
        <td colspan="5">Como usuario quiero que la aplicación cuente con instrucciones para que los niños puedan
            seguirlas sin
            necesidad de asistencia.</td>
    </tr>
    <tr>
        <td class="id">CRITERIOS DE ACEPTACIÓN</td>
        <td colspan="5">La aplicación deberá proporcionar instrucciones de cada actividad a realizar.</td>
    </tr>
</table>
<p>Paginas relacionadas con la historia:</p>
<div class="d-flex flex-row justify-content-evenly mb-3 w-75">
    <a class="btn btn-success border-3 border-dark" href="/clase">Ejemplo Multimedia</a>
    <a class="btn btn-success border-3 border-dark" href="/clase3">Ejemplo Imagen</a>
    <a class="btn btn-success border-3 border-dark" href="/clase2">Ejemplo con Audio</a>
    <a class="btn btn-success border-3 border-dark" href="/actividad">Ejemplo de actividad</a>
</div>
<p>Historia 2</p>
<table class="mb-4">
    <tr class="id">
        <td>ID</td>
        <td>02</td>
        <td>PRIORIDAD</td>
        <td>Alta</td>
        <td>PUNTOS DE HISTORIA</td>
        <td>3</td>
    </tr>
    <tr>
        <td class="id">HISTORIA DE USUARIO</td>
        <td colspan="5">Como usuario quiero una aplicación que cuente con material visual para mejorar la comprensión
            del tema.</td>
    </tr>
    <tr>
        <td class="id">CRITERIOS DE ACEPTACIÓN</td>
        <td colspan="5">La aplicación deberá proporcionar al menos una imagen o video en cada lección y ejercicio.</td>
    </tr>
</table>
<p>Paginas relacionadas con la historia:</p>
<div class="d-flex flex-row justify-content-evenly mb-3 w-75">
    <a class="btn btn-success border-3 border-dark" href="/clase">Ejemplo Multimedia</a>
    <a class="btn btn-success border-3 border-dark" href="/clase3">Ejemplo Imagen</a>
</div>
<p>Historia 3</p>
<table>
    <tr class="id">
        <td>ID</td>
        <td>03</td>
        <td>PRIORIDAD</td>
        <td>Alta</td>
        <td>PUNTOS DE HISTORIA</td>
        <td>5</td>
    </tr>
    <tr>
        <td class="id">HISTORIA DE USUARIO</td>
        <td colspan="5">Como usuario quiero una aplicación con material auditivo para mejorar el aprendizaje del tema.
        </td>
    </tr>
    <tr>
        <td class="id">CRITERIOS DE ACEPTACIÓN</td>
        <td colspan="5">La aplicación proporcionará contenido auditivo dentro de cada módulo de lectura y será
            reproducido dependiendo de la lección.</td>
    </tr>
</table>
<p>Paginas relacionadas con la historia:</p>
<div class="d-flex flex-row justify-content-evenly mb-3 w-75">
    <a class="btn btn-success border-3 border-dark" href="/clase2">Ejemplo con Audio</a>
</div>